<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="card-box">

            <div class="panel-heading">
                <h3 class="text-center"> Random Variables </h3>
            </div>

            <form action="" class="form-horizontal m-t-20" method="post">


                <? if({:$$message}->anyError()){ ?>
                <div class="alert alert-danger">
                    <? echo $message->getError(3); ?>
                </div>
                <? } ?>

                <? if({:$$message}->is_success()){ ?>
                <div class="alert alert alert-success text-center">
                    <?=$message->printSuccess();?>
                </div>
                <? } ?>

                <h4 class="text-center"> Minimum Password Length </h4>
                <h5 class="text-center"> ( The minimum required password length for any user ) </h5>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" value="{:msg minPasswordLength}"
                               name="minPasswordLength" required="true" placeholder="Minimum Password Length">
                        <button name="update" class="btn btn-danger btn-block text-uppercase waves-effect waves-light"
                                type="submit">Update
                        </button>
                    </div>
                </div>

                <br>
                <hr>

                <h4 class="text-center"> Maximum Password Length </h4>
                <h5 class="text-center"> ( The maximum required password length for any user ) </h5>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" value="{:msg maxPasswordLength}"
                               name="maxPasswordLength" required="true" placeholder="Maximum Password Length">
                        <button name="update" class="btn btn-danger btn-block text-uppercase waves-effect waves-light"
                                type="submit">Update
                        </button>
                    </div>
                </div>

                <br>
                <hr>

                <h4 class="text-center"> Maximum Pin Length </h4>
                <h5 class="text-center"> ( The maximum required pin length for any user ) </h5>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" value="{:msg maxPinLength}"
                               name="maxPinLength" required="true" placeholder="Maximum Pin Length">
                        <button name="update" class="btn btn-danger btn-block text-uppercase waves-effect waves-light"
                                type="submit">Update
                        </button>
                    </div>
                </div>

                <br>
                <hr>

                <h4 class="text-center"> Same IP Login </h4>
                <h5 class="text-center"> ( Enable/Disable same ip login ) </h5>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" value="{:msg sameIpLogin}"
                               name="maxPinLength" required="true" placeholder="Enable/Disable same IP login">
                        <button name="update" class="btn btn-danger btn-block text-uppercase waves-effect waves-light"
                                type="submit">Update
                        </button>
                    </div>
                </div>

                <br>
                <hr>

                <h4 class="text-center"> Maximum Verified Devices </h4>
                <h5 class="text-center"> ( The maximum amount of devices a user can login from ) </h5>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" value="{:msg maxVerifiedDevices}"
                               name="maxVerifiedDevices" required="true" placeholder="Maximum Verified Devices">
                        <button name="update" class="btn btn-danger btn-block text-uppercase waves-effect waves-light"
                                type="submit">Update
                        </button>
                    </div>
                </div>

                <br>

            </form>

        </div>
    </div>
</div>
