<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="{:settings_templateURL}assets/images/favicon_1.ico">

    <title>{:settings_siteName} | {t}AUTHENTICATION_NEEDED{/t}</title>

    <link href="{:settings_templateURL}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{:settings_templateURL}assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="{:settings_templateURL}assets/css/style.css" rel="stylesheet" type="text/css" />

    <script src="{:settings_templateURL}assets/js/modernizr.min.js"></script>

</head>
<body>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class=" card-box">

        <div class="p-20">
            <form action="" class="form-horizontal m-t-20" method="post">

                <div class="form-group">
                    <div class="text-center">
                        <div class="user-thumb">
                            <img src="{:user_avatar}" class="img-responsive bx-shadow rounded-circle img-thumbnail" alt="thumbnail">
                        </div>
                        <h4 class="font-18">{:user_username}</h4>
                        <p class="text-muted">
                            Your account has 2-factor authentication enabled, so you'r required to supply a code
                            from the Google Authentication App.
                        </p>
                    </div>

                    <? if({:$$message}->anyError()){ ?>
                    <div class="alert alert-danger">
                        <? echo $message->getError(3); ?>
                    </div>
                    <? } ?>

                    <? if({:$$message}->is_success()){ ?>
                    <div class="alert alert alert-success text-center">
                        <?=$message->printSuccess();?>
                    </div>
                    <? } ?>

                    <div class="form-group-custom m-t-40">
                        <input type="password" name="authCode" id="user-password" required="required"/>
                        <label class="control-label" for="user-password">Authentication Code</label><i class="bar"></i>
                    </div>

                    <div class="form-group text-center m-t-20">
                        <button name="verify" class="btn btn-success btn-block waves-effect waves-light"
                                type="submit">Verify
                        </button>
                    </div>
                </div>

            </form>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-white">
                Not {:user_username}?<a href="logout.php" class="text-white m-l-5"><b>Logout</b></a>
            </p>
        </div>
    </div>

</div>

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="{:settings_templateURL}assets/js/jquery.min.js"></script>
<script src="{:settings_templateURL}assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
<script src="{:settings_templateURL}assets/js/bootstrap.min.js"></script>
<script src="{:settings_templateURL}assets/js/detect.js"></script>
<script src="{:settings_templateURL}assets/js/fastclick.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.slimscroll.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.blockUI.js"></script>
<script src="{:settings_templateURL}assets/js/waves.js"></script>
<script src="{:settings_templateURL}assets/js/wow.min.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.nicescroll.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.scrollTo.min.js"></script>

<script src="{:settings_templateURL}assets/js/jquery.core.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.app.js"></script>

</body>
</html>