<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="<? echo $templatePath; ?>assets/images/favicon.ico">

    <title><?=$title; ?></title>

    <link href="<? echo $templatePath; ?>assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="<? echo $templatePath; ?>assets/css/core.css" rel="stylesheet" type="text/css"/>
    <link href="<? echo $templatePath; ?>assets/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="<? echo $templatePath; ?>assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="<? echo $templatePath; ?>assets/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="<? echo $templatePath; ?>assets/css/responsive.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="<? echo $templatePath; ?>assets/js/modernizr.min.js"></script>

</head>
<body>

<div class="account-pages"></div>
<div class="clearfix"></div>

<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="home-wrapper">
                    <h1 class="icon-main text-custom"><i class="md md-album"></i></h1>
                    <h1 class="home-text text-uppercase"><span class="text-danger"><?=$title?></span></h1>
                    <h4 class="text-muted"><?=$msg?></h4><br><Br>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->


<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="<? echo $templatePath; ?>assets/js/jquery.min.js"></script>
<script src="<? echo $templatePath; ?>assets/js/bootstrap.min.js"></script>
<script src="<? echo $templatePath; ?>assets/js/detect.js"></script>
<script src="<? echo $templatePath; ?>assets/js/fastclick.js"></script>
<script src="<? echo $templatePath; ?>assets/js/jquery.slimscroll.js"></script>
<script src="<? echo $templatePath; ?>assets/js/jquery.blockUI.js"></script>
<script src="<? echo $templatePath; ?>assets/js/waves.js"></script>
<script src="<? echo $templatePath; ?>assets/js/wow.min.js"></script>
<script src="<? echo $templatePath; ?>assets/js/jquery.nicescroll.js"></script>
<script src="<? echo $templatePath; ?>assets/js/jquery.scrollTo.min.js"></script>


<script src="<? echo $templatePath; ?>assets/js/jquery.core.js"></script>
<script src="<? echo $templatePath; ?>assets/js/jquery.app.js"></script>


</body>
</html>