<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="{:settings_templateURL}assets/images/favicon_1.ico">

    <title>{:settings_siteName} | {t}HOME_PAGE{/t}</title>

    <link href="{:settings_templateURL}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/css/style.css" rel="stylesheet" type="text/css"/>

    <script src="{:settings_templateURL}assets/js/modernizr.min.js"></script>

</head>
<body>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">

    <div class="profile-detail card-box">
        <div>
            <img src="{:user_avatarURL}" class="rounded-circle"
                 alt="profile-image">

            <ul class="list-inline status-list m-t-20">
                <li class="list-inline-item">
                    <h3 class="text-success m-b-5">{:user_username}</h3>
                    <p class="text-muted">{t}USERNAME{/t}</p>
                </li>
            </ul>

            <ul class="list-inline status-list m-t-20">
                <li class="list-inline-item">
                    <h3 class="text-primary m-b-5">{:user_groupName}</h3>
                    <p class="text-muted">{t}USER_STATUS{/t}</p>
                </li>
                <li class="list-inline-item">
                    <h3 class="text-success m-b-5">{:user_XP}</h3>
                    <p class="text-muted">{t}CURRENT_XP{/t}</p>
                </li>
            </ul>

            <hr>
            <h4 class="text-uppercase font-18 font-600">About</h4><br>

            <div class="text-left">
                <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15">{:user_firstName} {:user_lastName}</span>
                </p>

                <p class="text-muted font-13"><strong>{t}EMAIL_ADDRESS{/t} :</strong><span
                        class="m-l-15">{:user_email}</span></p>

                <p class="text-muted font-13"><strong>{t}DATE_JOINED{/t} :</strong> <span class="m-l-15">{:user_daysSinceJoined} ago</span>
                </p>

                <p class="text-muted font-13"><strong>{t}BIRTH_DATE{/t} :</strong> <span
                        class="m-l-15">{:user_birthday}</span></p>

                <p class="text-muted font-13"><strong>Default Language :</strong> <span class="m-l-15">{:user_defaultLanguage}</span>
                </p>
            </div>

            <hr>
            <h4 class="text-uppercase font-18 font-600">Device Information</h4><br>

            <div class="text-left">
                <p class="text-muted font-13"><strong>Browser Name :</strong> <span
                        class="m-l-15">{:user_browserName}</span></p>

                <p class="text-muted font-13"><strong>Browser Version :</strong><span class="m-l-15">{:user_browserVersion}</span>
                </p>

                <p class="text-muted font-13"><strong>IP Address :</strong> <span class="m-l-15">{:user_ip}</span></p>

                <p class="text-muted font-13"><strong>Operating System :</strong> <span class="m-l-15">{:user_os}</span>
                </p>

            </div>

        </div>

    </div>

    <div class="profile-detail card-box">
        <div class="col-12 list-inline status-list">

            <li class="list-inline-item">
                <h5 class="text-primary m-b-5"><a href="logout.php" class="text-muted">{t}LOGOUT{/t}</a></h5>
            </li>
            <li class="list-inline-item">
                <h5 class="text-primary m-b-5"><a href="profile/" class="text-muted">{t}USER_PANEL{/t}</a></h5>
            </li>
            <li class="list-inline-item">
                <h5 class="text-primary m-b-2">
                    <? if({:$$user}->isAdmin()){ ?> <a href="admin/index.php"
                                                       class="text-muted">{t}ADMIN_PANEL{/t}</a> <? } ?>
                </h5>
            </li>

        </div>
    </div>

</div>


<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="{:settings_templateURL}assets/js/jquery.min.js"></script>
<script src="{:settings_templateURL}assets/js/popper.min.js"></script>
<script src="{:settings_templateURL}assets/js/bootstrap.min.js"></script>
<script src="{:settings_templateURL}assets/js/detect.js"></script>
<script src="{:settings_templateURL}assets/js/fastclick.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.slimscroll.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.blockUI.js"></script>
<script src="{:settings_templateURL}assets/js/waves.js"></script>
<script src="{:settings_templateURL}assets/js/wow.min.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.nicescroll.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.scrollTo.min.js"></script>


<script src="{:settings_templateURL}assets/js/jquery.core.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.app.js"></script>

</body>
</html>