</div> <!-- container -->

</div> <!-- content -->

<footer class="footer text-right">
    &copy; 2016 - 2017. All rights reserved.
</footer>

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

</div>
<!-- END wrapper -->


<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="{:settings_templateURL}assets/js/jquery.min.js"></script>
<script src="{:settings_templateURL}assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
<script src="{:settings_templateURL}assets/js/bootstrap.min.js"></script>
<script src="{:settings_templateURL}assets/js/detect.js"></script>
<script src="{:settings_templateURL}assets/js/fastclick.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.slimscroll.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.blockUI.js"></script>
<script src="{:settings_templateURL}assets/js/waves.js"></script>
<script src="{:settings_templateURL}assets/js/wow.min.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.nicescroll.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.scrollTo.min.js"></script>

<script src="{:settings_templateURL}assets/js/jquery.core.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.app.js"></script>

<!-- Custom Scripts -->
{:customScripts}
<!-- Custom Scripts -->

</body>
</html>