<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="card-box">

			<h4 class="m-t-0 m-b-20 header-title"><b>Authentication settings</b></h4>

            <form action="" class="form-horizontal m-t-20" method="post">

                <? if({:$$message}->anyError()){ ?>
                <div class="alert alert-danger">
                    {:msgc message...getError(3)}
                </div>
                <? } ?>

                <? if({:$$message}->is_success()){ ?>
                <div class="alert alert alert-success text-center">
                    {:msgc message...printSuccess()}
                </div>
                <? } ?>

				<div class="form-group row">
                    <label class="col-2 col-form-label">Login enabled</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{:msg canLogin}"
                               name="login_enabled" required="true" placeholder="{:msg canLogin}">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">Enable or Disable global login system</p>
                </div>

				<div class="form-group row">
                    <label class="col-2 col-form-label">Register enabled</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{:msg canRegister}"
                               name="register_enabled" required="true" placeholder="{:msg canRegister}">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">Enable or Disable global registeration system</p>
                </div>

				<div class="form-group row">
                    <label class="col-2 col-form-label">Pin required</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{:msg pinRequired}"
                               name="pin_required" required="true" placeholder="{:msg pinRequired}">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">Enable or Disable the need of using a pin number</p>
                </div>

				<div class="form-group row">
                    <label class="col-2 col-form-label">Activation required</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{:msg activationRequired}"
                               name="activation_required" required="true" placeholder="{:msg activationRequired}">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">Enable or Disable the need of activating recently registered accounts</p>
                </div>

				<div class="form-group row">
                    <label class="col-2 col-form-label">Minimum Age required</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{:msg minimumAgeRequired}"
                               name="minimum_age_required" required="true" placeholder="{:msg minimumAgeRequired}">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">Set a limit for how young a new user most be</p>
                </div>

				<div class="form-group row">
                    <label class="col-2 col-form-label">Minimum Age</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{:msg minimumAge}"
                               name="minimum_age" required="true" placeholder="{:msg minimumAge}">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">Minimum age for a new user to signup</p>
                </div>


                <div class="form-group text-center m-t-40">
                    <div class="col-md-12 text-right">
                        <button name="update" class="btn btn-primary waves-effect waves-light" type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
