<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="card-box">

            <div class="panel-heading">
                <h3 class="text-center"> Manage XP </h3>
            </div>

            <form action="" class="form-horizontal m-t-20" method="post">


                <? if({:$$message}->anyError()){ ?>
                <div class="alert alert-danger">
                    {:msgc message...getError(3)}
                </div>
                <? } ?>

                <? if({:$$message}->is_success()){ ?>
                <div class="alert alert alert-success text-center">
                    {:msgc message...printSuccess()}
                </div>
                <? } ?>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Username</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value=""
                               name="username" required="true" placeholder="username">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">Username of whom xp will be changed</p>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Amount</label>
                    <div class="col-10">
                        <input class="form-control" type="number" value=""
                               name="amount" required="true" placeholder="amount">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">Amount of xp to be modified</p>
                </div>


                <div class="col-md-12 text-center">
                    <button name="addXP" class="btn btn-primary waves-effect waves-light" type="submit">Add</button>
                    <button name="subtractXP" class="btn btn-danger waves-effect waves-light" type="submit">Subtract
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>