{:glob groups,database,listGroups,g}
<link href="{:settings_templateURL}plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="{:settings_templateURL}plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet"/>
<link href="{:settings_templateURL}plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="card-box">

            <? if($database->anyError()){ ?>
            <div class="alert alert-danger">
                {:msgc database...getError()}
            </div>
            <? } ?>

            <div class="card-box table-responsive">
                <h4 class="m-t-0 header-title"><b>Groups</b></h4><br>

                <? if(!{:$$listGroups}){ ?>
                <h4 class="m-t-0 text-muted text-center"><b>There are no groups</b></h4>
                <? } else { ?>

                <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <td>Level</td>
                        <td>Is Default</td>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <? foreach($listGroups as $g){ ?>
                    <tr>
                        <td>{:msgc g...getName()}</td>
                        <td>{:msgc g...getLevel()}</td>
                        <td>
                            <?php
                                if($g->isDefault()){
                            echo "Default";
                            }
                            ?>
                        </td>
                        <td>
                            <label type="submit" class="btn alert-warning"><a
                                    href="?page=editGroup&name={:msgc g...getName()}">Edit</a></label>
                        </td>
                        <td>
                            <label type="submit" class="btn alert-danger">Remove</label>
                        </td>
                    </tr>
                    <? } ?>
                    </tbody>
                </table>
                <? } ?>
            </div>
        </div>
    </div>
</div>