<link href="{:settings_templateURL}plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet"/>

<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="card-box">

            <h4 class="m-t-0 m-b-20 header-title"><b>Remove Permission</b></h4>

            <form action="" class="form-horizontal m-t-20" method="post">


                <? if({:$$message}->anyError()){ ?>
                <div class="alert alert-danger">
                    {:msgc message...getError(3)}
                </div>
                <? } ?>

                <? if({:$$message}->is_success()){ ?>
                <div class="alert alert alert-success text-center">
                    {:msgc message...printSuccess()}
                </div>
                <? } ?>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Group</label>
                    <div class="col-10">
                        <select name="groupName" class="form-control">

                            <? foreach ({:$$listGroups} as $group) { ?>
                            <option value="{:msgc group->getName()}">{:msgc group->getName()}</option>
                            <? } ?>

                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Permissions</label>
                    <div class="col-md-10">
                        <input type="text" name="permissions" value="" data-role="tagsinput"
                               placeholder="add permission"/>
                    </div>
                </div>

                <div class="form-group text-center m-t-40">
                    <div class="col-md-12 text-right">
                        <button name="remove" class="btn btn-primary waves-effect waves-light"
                                type="submit">Remove
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>