<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="card-box">

            <h4 class="m-t-0 m-b-20 header-title"><b>Random Variables</b></h4>

            <form action="" class="form-horizontal m-t-20" method="post">

                <? if({:$$message}->anyError()){ ?>
                <div class="alert alert-danger">
                    {:msgc message...getError(3)}
                </div>
                <? } ?>

                <? if({:$$message}->is_success()){ ?>
                <div class="alert alert alert-success text-center">
                    {:msgc message...printSuccess()}
                </div>
                <? } ?>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Minimum Password Length</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{:msg minPasswordLength}"
                               name="minPasswordLength" required="true" placeholder="{:msg minPasswordLength}">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">The minimum required password length for any user</p>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Maximum Password Length</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{:msg maxPasswordLength}"
                               name="maxPasswordLength" required="true" placeholder="{:msg maxPasswordLength}">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">Maximum paasword length that a user can have</p>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Same IP Login</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{:msg sameIpLogin}"
                               name="maxPinLength" required="true" placeholder="{:msg sameIpLogin}">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">Enable/Disable same ip login</p>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Maximum Verified Devices</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{:msg maxVerifiedDevices}"
                               name="maxVerifiedDevices" required="true" placeholder="{:msg maxVerifiedDevices}">
                    </div>
                    <p class="col-2 text-muted m-b-30 font-13">The maximum amount of devices a user can login from</p>
                </div>

            </form>

        </div>
    </div>
</div>
