<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="card-box">

            <div class="panel-heading">
                <h3 class="text-center"> Enable/Disable HTTPS </h3>
                <h5 class="text-muted text-center">Make sure the site supports ssl. Otherwise, you won't have access to
                    the
                    script.</h5>
            </div>


            <div class="panel-body">

                <form action="" class="form-horizontal m-t-20" method="post">

                    <? if({:$$message}->anyError()){ ?>
                    <div class="alert alert-danger">
                        {:msgc message...getError(3)}
                    </div>
                    <? } ?>

                    <? if({:$$message}->is_success()){ ?>
                    <div class="alert alert alert-success text-center">
                        {:msgc message...printSuccess()}
                    </div>
                    <? } ?>


                    <? if( !{:$$settings}->isHTTPS() ) { ?>

                    <div class="form-group text-center m-t-40">
                        <div class="form-group text-center m-b-0">
                            <button name="enable" class="btn btn-primary waves-effect waves-light"
                                    type="submit">Enable
                            </button>
                        </div>
                    </div>

                    <? } else { ?>

                    <div class="form-group text-center m-t-40">
                        <div class="form-group text-center m-b-0">
                            <button name="disable"
                                    class="btn btn-primary waves-effect waves-light"
                                    type="submit">Disable
                            </button>
                        </div>
                    </div>

                    <? } ?>

                </form>
            </div>
        </div>
    </div>
</div>