<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="card-box">

            <h4 class="m-t-0 m-b-20 header-title"><b>Change Email</b></h4>

            <form action="" class="form-horizontal m-t-20" method="post">

                <? if({:$$message}->anyError()){ ?>
                <div class="alert alert-danger">
                    {:msgc message...getError(3)}
                </div>
                <? } ?>

                <? if({:$$message}->is_success()){ ?>
                <div class="alert alert alert-success text-center">
                    {:msgc message...printSuccess()}
                </div>
                <? } ?>

                <div class="form-group row">
                    <label class="col-2 col-form-label">New Email</label>
                    <div class="col-10">
                        <input class="form-control" type="email" value=""
                               name="email" required="true" placeholder="New Email">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Confirm New Email</label>
                    <div class="col-10">
                        <input class="form-control" type="email" value=""
                               name="email2" required="true" placeholder="Confirm New Email">
                    </div>
                </div>

                <? if($settings->pinRequired()) { ?>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Pin #</label>
                    <div class="col-10">
                        <input class="form-control" type="password" value=""
                               name="pin" required="true" placeholder="Pin #">
                    </div>
                </div>

                <? } else { ?>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Password</label>
                    <div class="col-10">
                        <input class="form-control" type="password" value=""
                               name="password" required="true" placeholder="Password">
                    </div>
                </div>

                <? } ?>

                <div class="form-group text-center m-t-40">
                    <div class="col-md-12 text-right">
                        <button name="update" class="btn btn-primary waves-effect waves-light"
                                type="submit">Update
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>