<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="{:settings_templateURL}assets/images/favicon_1.ico">

    <title>{:settings_siteName} | Sign-up</title>

    <link href="{:settings_templateURL}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/css/style.css" rel="stylesheet" type="text/css"/>

    <script src="{:settings_templateURL}assets/js/modernizr.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class=" card-box">
        <div class="panel-heading">
            <h4 class="text-center"> Sign Up </h4>
        </div>

        <div class="p-20">
            <form action="" class="form-horizontal m-t-20" method="post">

                <? if({:$$message}->anyError()){ ?>
                <div class="alert alert-danger">
                    {:msgc message...getError(3)}
                </div>
                <? } ?>

                <? if({:$$message}->is_success()){ ?>
                <div class="alert alert alert-success text-center">
                    {:msgc message...printSuccess()}
                </div>
                <? } ?>

                <? if({:$$success}){ ?>
                <div class="alert alert alert-success text-center">
                    Your account has been successfully created<br>
                    <a href="login.php">Login</a>
                </div>
                <? } ?>

                <div class="panel-heading">
                    <h3 class="panel-title text-center">Account information</h3>
                </div>
                <br>

                <div class="form-group-custom">
                    <input type="text" name="username" id="user-name" value="<? echo $_POST['username']; ?>"
                           required="required"/>
                    <label class="control-label" for="user-name">Username</label><i class="bar"></i>
                </div>

                <div class="form-group-custom">
                    <input type="email" name="email" id="user-email" value="<? echo $_POST['email']; ?>"
                           required="required"/>
                    <label class="control-label" for="user-email">Email</label><i class="bar"></i>
                </div>

                <div class="form-group-custom">
                    <input type="email" name="email2" id="confirm-user-email" value="<? echo $_POST['email2']; ?>"
                           required="required"/>
                    <label class="control-label" for="confirm-user-email">Confirm Email</label><i class="bar"></i>
                </div>

                <div class="form-group-custom">
                    <input type="password" id="user-password" value="<? echo $_POST['password']; ?>" name="password"
                           required="required"/>
                    <label class="control-label" for="user-password">Password</label><i class="bar"></i>
                </div>

                <div class="form-group-custom">
                    <input type="password" id="confirm-user-password" value="<? echo $_POST['password2']; ?>"
                           name="password2" required="required"/>
                    <label class="control-label" for="confirm-user-password">Confirm Password</label><i class="bar"></i>
                </div>

                <div class="form-group-custom">
                    <input type="password" id="user-pin" name="pin" value="<? echo $_POST['pin']; ?>"
                           required="required"/>
                    <label class="control-label" for="user-pin">Pin Number</label><i class="bar"></i>
                </div>

                <div class="form-group-custom">
                    <input type="password" id="confirm-user-pin" name="pin2" value="<? echo $_POST['pin2']; ?>"
                           required="required"/>
                    <label class="control-label" for="confirm-user-pin">Confirm Pin Number</label><i class="bar"></i>
                </div>


                <div class="panel-heading">
                    <h3 class="panel-title text-center">Personal information</h3>
                </div>
                <br>

                <div class="form-group-custom">
                    <input type="text" name="first_name" id="first_name" value="<? echo $_POST['first_name']; ?>"
                           required="required"/>
                    <label class="control-label" for="first_name">First Name</label><i class="bar"></i>
                </div>

                <div class="form-group-custom">
                    <input type="text" name="last_name" id="last_name" value="<? echo $_POST['last_name']; ?>"
                           required="required"/>
                    <label class="control-label" for="last_name">Last Name</label><i class="bar"></i>
                </div>

                <div class="form-group-custom">
                    <input type="text" name="dateOfBirth" id="dateOfBirth" value="<? echo $_POST['dateOfBirth']; ?>"
                           data-mask="99/99/9999" required="required"/>
                    <label class="control-label" for="dateOfBirth">Date of birth (mm/dd/yyyy)</label><i class="bar"></i>
                </div>

                <div class="form-group-custom">
                    <div class="g-recaptcha" data-theme="dark" data-sitekey="<?={:$$captcha}->getSiteKey();?>"></div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-12">
                        <button class="btn btn-purple btn-block text-uppercase waves-effect waves-light" name="register"
                                type="submit">
                            Register
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <p class="text-white">
                Already have account?<a href="login.php" class="text-white m-l-5"><b>Sign In</b></a>
            </p>
        </div>
    </div>

</div>

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="{:settings_templateURL}assets/js/jquery.min.js"></script>
<script src="{:settings_templateURL}assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
<script src="{:settings_templateURL}assets/js/bootstrap.min.js"></script>
<script src="{:settings_templateURL}assets/js/detect.js"></script>
<script src="{:settings_templateURL}assets/js/fastclick.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.slimscroll.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.blockUI.js"></script>
<script src="{:settings_templateURL}assets/js/waves.js"></script>
<script src="{:settings_templateURL}assets/js/wow.min.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.nicescroll.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.scrollTo.min.js"></script>

<script src="{:settings_templateURL}assets/js/jquery.core.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.app.js"></script>

</body>
</html>