<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Password Reset</title>
</head>
<body>
<center>
    <form action="" method="post">

        <? if($message->anyError()){ echo $message->getError(3); ?><br><? } ?>
        <div><p>Reset Code: <input type="text" value="<? echo $_POST['code'];?>" name="code"></p></div>
        <div><p>Email: <input type="email" value="<? echo $_POST['email'];?>" name="email"></p></div>
        <button type="submit" name="confirm">Confirm Code</button>
    </form>
</center>
</body>
</html>