<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<center>
    <form action="" method="post">

        <? if($message->anyError()){ echo $message->getError(3); ?><br><? } ?>
        <div><p>Username: <input type="text" value="<? echo $_POST['username'];?>" name="username"></p></div>
        <div><p>Email: <input type="email" value="<? echo $_POST['email'];?>" name="email"></p></div>
        <button type="submit" name="reset">Send reset code</button>
        <br><br>
        <div><a href="forgetPass.php?option=confirm">Already have a code ?</a></div>
    </form>
</center>
</body>
</html>