<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="{:settings_templateURL}assets/images/favicon_1.ico">

    <title>{:settings_siteName} | Viewing <?={:$$username}?>'s Profile</title>

    <!-- Plugins css-->
    <link href="{:settings_templateURL}assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet"/>
    <link href="{:settings_templateURL}assets/plugins/switchery/css/switchery.min.css" rel="stylesheet"/>
    <link href="{:settings_templateURL}assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="{:settings_templateURL}assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css"
          rel="stylesheet"/>

    <link href="{:settings_templateURL}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/css/core.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/css/menu.css" rel="stylesheet" type="text/css"/>
    <link href="{:settings_templateURL}assets/css/responsive.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{:settings_templateURL}assets/js/modernizr.min.js"></script>

</head>
<body>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class=" card-box">

        <div class="panel-body">

            <div class="panel-heading">
                <h3 class="text-center"> Viewing <strong class="text-custom"><?={:$$username}?></strong>'s Profile </h3>
            </div>

            <form action="" class="form-horizontal m-t-20" method="post">


                <? if({:$$message}->anyError()){ ?>
                <div class="alert alert-danger">
                    <? echo $message->getError(3); ?>
                </div>
                <? } ?>

                <? if({:$$message}->is_success()){ ?>
                <div class="alert alert alert-success text-center">
                    <?=$message->printSuccess();?>
                </div>
                <? } ?>

                <h4 class="text-center"> Account ID </h4>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <?={:$$requestedUser}->getID();?>
                    </div>
                </div>

                <h4 class="text-center"> Full Name </h4>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <?={:$$requestedUser}->getFirstName();?> <?={:$$requestedUser}->getLastName();?>
                    </div>
                </div>

                <h4 class="text-center"> Email Address </h4>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <?={:$$requestedUser}->getEmail();?>
                    </div>
                </div>

                <h4 class="text-center"> Age </h4>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <?={:$$requestedUser}->getAge();?>
                    </div>
                </div>

                <h4 class="text-center"> Last Login </h4>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <?={:$$requestedUser}->getLastLoginText();?> ago
                    </div>
                </div>

                <h4 class="text-center"> Account Status </h4>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <?
                        if({:$$requestedUser}->is_banned()){
                        echo "The account is BANNED";
                        } else {
                        if(!{:$$requestedUser}->is_accountActivated()){
                        echo "The account needs to be activated";
                        } else {
                        echo "The account is up and healthy";
                        }
                        }
                        ?>
                    </div>
                </div>

                <h4 class="text-center"> Total Experience Points </h4>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <?={:$$requestedUser}->getXP();?> xp
                    </div>
                </div>

                <h4 class="text-center"> Account/Permission Level </h4>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <?={:$$requestedUser}->getLevelName();?>
                    </div>
                </div>

                <br>
                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button name="change_level" value="1"
                                class="btn btn-info btn-block text-uppercase waves-effect waves-light" type="submit">
                            Change Level
                        </button>
                        <? if({:$$requestedUser}->is_banned()){ ?>
                        <button name="unban_account"
                                class="btn btn-info btn-block text-uppercase waves-effect waves-light" type="submit">
                            Un-Ban Account
                        </button>
                        <? } else { ?>
                        <? if(!{:$$requestedUser}->is_accountActivated()){ ?>
                        <button name="activate_account" value="1"
                                class="btn btn-info btn-block text-uppercase waves-effect waves-light" type="submit">
                            Activate Account
                        </button>
                        <? } else { ?>
                        <button name="ban_account" value="1"
                                class="btn btn-danger btn-block text-uppercase waves-effect waves-light" type="submit">
                            Ban Account
                        </button>
                        <? }} ?>
                        <button name="delete_account" value="1"
                                class="btn btn-danger btn-block text-uppercase waves-effect waves-light" type="submit">
                            Delete Account
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p><a href="#" onclick="history.back();" class="text-primary m-l-5"><b></b>Go Back</a></p>
        </div>
    </div>

</div>

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<!-- jQuery  -->
<script src="{:settings_templateURL}assets/js/jquery.min.js"></script>
<script src="{:settings_templateURL}assets/js/bootstrap.min.js"></script>
<script src="{:settings_templateURL}assets/js/detect.js"></script>
<script src="{:settings_templateURL}assets/js/fastclick.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.slimscroll.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.blockUI.js"></script>
<script src="{:settings_templateURL}assets/js/waves.js"></script>
<script src="{:settings_templateURL}assets/js/wow.min.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.nicescroll.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.scrollTo.min.js"></script>

<script src="{:settings_templateURL}assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>

<script type="text/javascript" src="{:settings_templateURL}assets/pages/jquery.form-advanced.init.js"></script>


<!-- App core js -->
<script src="{:settings_templateURL}assets/js/jquery.core.js"></script>
<script src="{:settings_templateURL}assets/js/jquery.app.js"></script>

</body>
</html>